/* Colores para las listas */
:root {
    --colour-0: #ffffff;
    --colour-1: #dae8fc;
    --colour-2: #d5e8d4;
    --colour-3: #ffe6cc;
    --colour-4: #fff2cc;
    --colour-5: #f8cecc;
    --colour-6: #e1d5e7;
}

html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Barlow', sans-serif;
}

/* Generales */
.colour-0 {
    background-color: var(--colour-0);
}

.colour-1 {
    background-color: var(--colour-1);
}

.colour-2 {
    background-color: var(--colour-2);
}

.colour-3 {
    background-color: var(--colour-3);
}

.colour-4 {
    background-color: var(--colour-4);
}

.colour-5 {
    background-color: var(--colour-5);
}

.colour-6 {
    background-color: var(--colour-6);
}

.priori {
    font-size: 24px;
    margin-right: 5px;
}

.priori-1 {
    color: var(--success);
}

.priori-2 {
    color: var(--warning);
}

.priori-3 {
    color: var(--danger);
}

.complete {
    color: var(--success);
    font-weight: 600;
}

.incomplete {
    color: var(--danger);
    font-weight: 500;
}

.btn-warning {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.title {
    margin: 30px 0 15px;
}

/* Forms */
.form-control.error {
    border-color: var(--danger);
}

input[type=date],
select,
.color-input {
    cursor: pointer;
}

.alert {
    font-size: 18px;
    text-align: center;
}

form > .form-group:last-of-type {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

/* Nav */
.principal-nav.navbar-expand-lg {
    justify-content: flex-end;
}

.principal-nav .navbar-nav {
    flex: 1;
}

.principal-nav .navbar-nav .nav-item:first-of-type {
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

/* Aside */
.aside .nav-item .btn {
    width: 100%;
}

.aside {
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
}

.aside .nav-aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.aside .nav-aside .nav-item {
    text-align: center;
}

/* Tables and lists */
.table a {
    font-weight: 500;
}

.table thead th {
    border-bottom: none;
} 

.table th, 
.table td {
    border-top: none;
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.table tbody tr {
    border-top: 1px solid #dee2e6;
}

.table tbody tr:first-of-type {
    border-top: none;
}

.table tbody tr td:first-of-type {
    display: flex;
    align-items: center;
}

.table tbody tr td:last-of-type a:first-of-type {
    margin-right: 8px;
}

/* Home */
.home .jumbotron {
    text-align: center;
    margin-top: 50px;
}

.home .jumbotron h1 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 5px;
}

/* Lists of list (Lists) */
.lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-item {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: var(--light);
    margin-bottom: 20px;
}

.list-item a:first-of-type {
    margin: 0 auto 0 0;
}

.list-item a:last-of-type {
    margin-left: 15px;
}

/* Show task */
.card {
    margin-top: 30px;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}

.list-group-item span {
    font-weight: 700;
}






